[submodule "dot-config/nvim"]
	path = dot-config/nvim
	url = git@github.com:tikhonp/neovimrc.git
[submodule "dot-config/local"]
	path = dot-config/local
	url = git@github.com:tikhonp/dot-personal.git
